<!DOCTYPE html>

<html>
<head>
<title>IS521 Shopping Mall</title>
<body>
	Welcome to IS521 Shopping Mall
    <p>
    	Login :
    	<form action="./login" method="post">
			<input type="text" id="id" name="id" placeholder="id"/>
			<input type="password" id="pw" name="pw" placeholder="password"/>
			<input type="submit" value="Log in">
    	</form>
    </p>
    <p>
    	<a href="./register">Register</a>
    </p>
</body>
</html>
