<!DOCTYPE html>

<html>
<head>
<title>Register user : IS521 Shopping Mall</title>
<body>
    <p>
    	Register :
    	<form action="/register" method="post">
			<input type="text" id="id" name="id" placeholder="id"/>
			<input type="password" id="pw" name="pw" placeholder="password"/>
            <input type="password" id="pw2" name="pw2" placeholder="confirm password"/>
			<input type="submit" value="Register">
    	</form>
    </p>
</body>
</html>
